body {
    font-family: Arial;
}

.header {
    height: auto;
    width: auto;
    text-align: center;    
    color: black;
    position: fixed;
    top: 15px;
    right: 15px;
}

span {
    display: inline-block;
    margin: 10px;
    font-size: 12px;
    color: dimgrey;
}

a {
    text-decoration: none;
    color: dimgray;
}

a:hover {
    text-decoration: underline;
}

.main {    
    text-align: center;
    position: fixed;
    top: 150px;
    right: 0;
    left: 0;    
}

.input {
    height: 30px;
    width: 400px;
    border: 1px solid black;
}

a.button {
    font-weight: bold;
    background-color: lightgray;
    padding: 10px;
}

a.button:hover {
    text-decoration: none;
    color: black;
    border: 1px solid black;
}

.footer1 {
    height: auto;
    width: 100%;
    text-align: left;
    color: black;    
    position: fixed;
    bottom: 55px;
    left: 15px;    
}

.footer2-right {
    height: auto;
    width: auto;    
    padding: 5px;
    text-align: center;
    color: black;    
    position: fixed;
    bottom: 15px;
    right: 15px;
    
}
.footer2-left {
    height: auto;
    width: auto;
    text-align: center;
    color: black;    
    position: fixed;
    bottom: 15px;
    left: 15px;    
}
